<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hffy.gstore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CrearUsuario"
            android:label="Crear Cuenta" />
        <activity android:name=".MenuPrincipal" />
        <activity
            android:name=".Laptop"
            android:label="Laptops" />
        <activity
            android:name=".Android"
            android:label="Celulares Android" />
        <activity
            android:name=".Celular"
            android:label="Todos Los Celulares" />
        <activity
            android:name=".Whatch"
            android:label="Smart Whatch" />
        <activity
            android:name=".Apple"
            android:label="Apple" />
        <activity
            android:name=".Samsung"
            android:label="Samsung" />
        <activity
            android:name=".Huawei"
            android:label="Huawei" />
        <activity
            android:name=".Oferta"
            android:label="Zona de Ofertas" />
        <activity
            android:name=".Comic"
            android:label="Comics" />
        <activity
            android:name=".Manga"
            android:label="Manga" />
        <activity
            android:name=".Pc"
            android:label="Juegos De Computadora" />
        <activity
            android:name=".Xbox"
            android:label="Xbox" />
        <activity
            android:name=".Nintendo"
            android:label="Nintendo" />
        <activity
            android:name=".Ps"
            android:label="PlayStation" />
        <activity
            android:name=".Alien"
            android:label="Alienware" />
        <activity
            android:name=".Combat"
            android:label="Combat Games" />
        <activity
            android:name=".Rpg"
            android:label="RPG" />
        <activity
            android:name=".Carrera"
            android:label="Racing Games" />
        <activity
            android:name=".Fight"
            android:label="Fight Games" />
        <activity
            android:name=".Arcade"
            android:label="Arcade Games" />
        <activity
            android:name=".Terror"
            android:label="Horror Games" />
        <activity
            android:name=".Deportes"
            android:label="Sport Games" />
        <activity
            android:name=".GeekZone"
            android:label="GeekZone" />
        <activity
            android:name=".Shooter"
            android:label="Shooters" />
        <activity
            android:name=".Bat"
            android:label="Baticueva" />
        <activity
            android:name=".Gamer"
            android:label="Oasis Del Gamer" />
        <activity
            android:name=".Otaku"
            android:label="Aldea Otaku" />
        <activity
            android:name=".VideoPlayer"
            android:label="Video" />
        <activity
            android:name=".Rata"
            android:label="Madriguera Del Niño Rata" />
        <activity android:name=".Youtube" />
        <activity android:name=".Producto"></activity>
    </application>

</manifest>